@using Microsoft.AspNetCore.Identity
@using BabyMemory.Infrastructure.Data.Models
@model List<UserNameViewModel>
@{
    ViewData["Title"] = "Admin All Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Users</h1>
<a href="/Administrator/AllMedicine" class="btn-light">All Medicines</a>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Table with All Users</h3>
    </div>

    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                        <thead>
                            <tr><th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">User Name</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Edit: activate to sort column ascending">Edit User</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="User Type: activate to sort column ascending">User Type</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Make User Admin</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Remove Admin</th></tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr class="odd">
                                    <td class="dtr-control sorting_1" tabindex="0">@user.Username</td>
                                    <td><a href="/Administrator/EditUser?userName=@user.Username" class="btn btn-block btn-warning btn-sm">Edit User</a></td>
                                    <td>@(user.Roles.Count == 1 ? "User" : "Admin")</td>
                                    <td><a href="/Administrator/AddUserToAdmin?userName=@user.Username" class="btn btn-block btn-warning btn-sm">Add Admin</a></td>
                                    <td><a href="/Administrator/RemoveUserFromAdmin?userName=@user.Username" class="btn btn-block btn-warning btn-sm">Remove Admin</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


