@model EventViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model" method="post">
            <h2>Create a new Event.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="@Model!.Name" class="form-control" autocomplete="name" aria-required="true" />
                <label asp-for="@Model!.Name"></label>
                <span asp-validation-for="@Model!.Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model!.Description" class="form-control"  aria-required="false" />
                <label asp-for="@Model!.Description"></label>
                <span asp-validation-for="@Model!.Description" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model!.EventDate" class="form-control" aria-required="true" />
                <label asp-for="@Model!.EventDate"></label>
                <span asp-validation-for="@Model!.EventDate" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model!.CreationDate" class="form-control" aria-required="false" readonly/>
                <label asp-for="@Model!.CreationDate"></label>
                <span asp-validation-for="@Model!.CreationDate" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label asp-for="@Model.IsPublic" class="form-label">
                    <input class="form-check-input" asp-for="@Model.IsPublic" />
                    @Html.DisplayName("Public Event")
                </label>
            </div>
            
            <button id="addCildrenSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add Event</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}