@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to Baby Memories</h1>

<h2>This web app is for storing childhood memories</h2>

<h3>For full functionality pleas <a href="/Identity/Account/Login">login</a> or <a href="/Identity/Account/Register">register</a></h3>