html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(/img/baby.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.form-floating {
    margin: 1em;
}


.container {
    color: black;
}
