@model ICollection<NewsNewVewModel>
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
    {
    <script src="~/js/news.js" asp-append-version="true"></script>
    }

<div>
    <h1>News</h1>
    @if (User.IsInRole("Administrator"))
    {
        <a href="/News/AddNews" class="btn btn-info text-uppercase">Add News</a>
    }
</div>

@{
    System.Diagnostics.Debug.Assert(Model != null, nameof(Model) + " != null");
}
<h3>@(Model.Count > 0 ? "Site News" : "No Site News")</h3>
@foreach (var item in Model)
{

    <div class="row">
        <div class="col-md-12">
            <div class="timeline">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="@item.Picture" alt="User Image">
                </div>

                <div>
                    @*<i class="fas fa-envelope bg-blue"></i>*@
                    <div class="timeline-item">
                        <h3 class="timeline-header"><b>@item.Name</b></h3>

                        <div class="timeline-body">
                            @foreach (var description in item.Description)
                            {
                                <p>
                                    @description
                                </p>
                            }
                        </div>
                        <div class="timeline-footer">
                        </div>
                    </div>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a href="/News/DeleteNews?id=@item.Id" class="btn-danger btn">Delete</a>
                    }
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>

}

<h3>Word News</h3>
@*<div class="card">*@
@*<div class="card-body pb-0">*@
<div class="row" id="news-wraper">
</div>
@*</div>*@
@*</div>*@

