@model BabyMemory.Infrastructure.Models.NewsViewModel[];

<div>
    <h1>News</h1>
    @if (User.IsInRole("Administrator"))
    {
        <a href="/News/AddNews" class="btn btn-info text-uppercase">Add News</a>
    }
</div>
@{
    System.Diagnostics.Debug.Assert(Model != null, nameof(Model) + " != null");
}
@foreach (var item in Model)
{
    <div class="card-body">
        <h5 class="card-title">@item.Name</h5>
        <p class="card-text">
            @item.Description
        </p>
        <a href="#" class="card-link">link</a>

        @if (User.IsInRole("Administrator"))
        {
            <a href="/News/DeleteNews?id=@item.Id" class="btn-danger btn">Delete</a>
        }

    </div>
}

